.image-list{
    overflow-y: scroll;
    max-height: 40vh;
    flex-grow: 1;
}
.test-class{
    height: auto !important;
}

/* Styling for small devices (e.g., mobile phones) */
@media (min-width: 576px) {
    .image-list{
        overflow-y: scroll;
        max-height: 60vh;
        flex-grow: 1;
    }
}

/* Styling for medium devices (e.g., tablets) */
@media (min-width: 768px) {
    .image-list{
        overflow-y: scroll;
        max-height: 70vh;
        flex-grow: 1;
    }
}

/* Styling for large devices (e.g., desktops) */
@media (min-width: 992px) {
    .image-list{
        overflow-y: scroll;
        max-height: 89vh;
        flex-grow: 1;
    }
}